/* HEADER */
header {
    display: grid;
    grid-template-columns: .7fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #dfcbbd;
    height: 130px;
    width: 100%;
    border-top: 5px #000000;

}

/* Tiny profile pic */
.header img {
    grid-column: 1/2;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-items: left;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    margin-left: 40px;
}

/* Lillie Perry */
header h2 {
    font-family: 'Great Vibes', cursive;
    font-weight: 12000;
    grid-column: 2/3;
    color: #3a200e;
    text-align: left;
    margin-top: 45px;
    font-size: 47px;
}

/* Hover Effect */
header a:hover{
    background-color: white;
    color: #4a634b;
    }

/* Home */
header a {
    text-align: center;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: #3a200e;

}

/* About Me */
header .about-me {
    text-align: center;
    grid-column: 4/5;
    color: #3a200e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

/* Contact Me */
header .contact-me {
    text-align: center;
    grid-column: 5/6;
    color: #3a200e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

/* BODY */
body {
    margin: 0;
}

.family {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.family img {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    margin-top: 0px;
}

.family h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: xx-large;
    text-align: center;
    background-color: white;
    margin-top: 100px;
}

.family p {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.education {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.education img {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
}

.education h1 {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: xx-large;
    text-align: center;
    background-color: white;
    margin-top: 75px;
}

.education p {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
}

.hobbies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.hobbies img {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 400px;
    width: 100%;
    margin-top: 0px;
}

.hobbies h1 {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: xx-large;
    text-align: center;
    background-color: white;
    margin-top: 100px;
}

.hobbies p {
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: x-large;
    text-align: center;
    vertical-align: middle;
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
}


/* FOOTER */
footer {
    background-color: #dfcbbd;
    font-size: larger;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3a200e;
}

a {
    color: #000000;
}

.icon {
    height: 55px;
    width: 55px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 0px gray;
}

.icon:hover {
    opacity: .8;
    transform: scale(1.1);
    border-radius: 20px;
}

