/* HEADER */
header {
  display: grid;
  grid-template-columns: .75fr 2.25fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #dfcbbd;
  height: 130px;
  width: 100%;
  border-top: 5px #000000;

}

/* Tiny profile pic */
.header img {
    grid-column: 1/2;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    margin-left: 40px;
}

/* Lillie Perry */
header h2 {
    font-family: 'Great Vibes', cursive;
    grid-column: 2/3;
    color: #3a200e;
    text-align: left;
    margin-top: 45px;
    font-size: 47px;
}

/* Hover Effect */
header a:hover{
    background-color: white;
    color: #4a634b;
    }

/* Home */
header a {
    text-align: center;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: #3a200e;

}

/* About Me */
header .about-me {
    text-align: center;
    grid-column: 4/5;
    color: #3a200e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

/* Contact Me */
header .contact-me {
    text-align: center;
    grid-column: 5/6;
    color: #3a200e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}


/* BODY */
body {
    margin: 0;
}
#section {
    height: 200px;
    margin-bottom: 100px;
}

.height {
  height: 150px;
}

    form {
        /* Center the form on the page */
        margin: 0 auto;
        width: 400px;
        /* Form outline */
        padding: 1em;
        border: 1px solid #ccc;
        border-radius: 1em;
        margin-bottom: 150px;
      }
      
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      
      form li + li {
        margin-top: 1em;
      }
      
      label {
        /* Uniform size & alignment */
        display: inline-block;
        width: 90px;
        text-align: right;
      }
      
      input,
      textarea {
        /* To make sure that all text fields have the same font settings
           By default, textareas have a monospace font */
        font: 1em sans-serif;
      
        /* Uniform text field size */
        width: 300px;
        box-sizing: border-box;
      
        /* Match form field borders */
        border: 1px solid #999;
      }
      
      input:focus,
      textarea:focus {
        /* Additional highlight for focused elements */
        border-color: #000;
      }
      
      textarea {
        /* Align multiline text fields with their labels */
        vertical-align: top;
      
        /* Provide space to type some text */
        height: 5em;
      }
      
      .button {
        /* Align buttons with the text fields */
        padding-left: 300px; /* same size as the label elements */
      }
      
      button {
        /* This extra margin represent roughly the same space as the space
           between the labels and their text fields */
        margin-left: 0.5em;
      }

      #feedback {
        background-color: antiquewhite;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: .5em;
        /* make this element invisible until we are ready for it */
        display: none;      
    }
    .moveDown {
        margin-top: 3em;
    }



/* This next section is for the first picture. */
#picture-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 700px;
    align-self: center;
}



/* FOOTER */
footer {
  background-color: #dfcbbd;
  font-size: larger;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #3a200e;
}

a {
  color: #000000;
}

.icon {
  height: 55px;
  width: 55px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 0px gray;
}

.icon:hover {
  opacity: .8;
  transform: scale(1.1);
  border-radius: 20px;
}

