/* HEADER */
header {
    display: grid;
    grid-template-columns: .7fr 2fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #dfcbbd;
    height: 130px;
    width: 100%;
    border-top: 5px #000000;

}

/* Tiny profile pic */
.header img {
    grid-column: 1/2;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    align-items: left;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    margin-left: 40px;
}

/* Lillie Perry */
header h2 {
    font-family: 'Great Vibes', cursive;
    font-weight: 12000;
    grid-column: 2/3;
    color: #3a200e;
    text-align: left;
    margin-top: 45px;
    font-size: 47px;
}

/* Hover Effect */
header a:hover{
    background-color: white;
    color: #4a634b;
    }

/* Home */
header a {
    text-align: center;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: #3a200e;

}

/* About Me */
header .about-me {
    text-align: center;
    grid-column: 4/5;
    color: #3a200e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

/* Contact Me */
header .contact-me {
    text-align: center;
    grid-column: 5/6;
    color: #3a200e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}


/* BODY */
body {
    background-color: white;
    margin: 0;
}
.picture-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
.picture-text img {
    grid-column: 1/2;
    height: 100%;
    width: 100%;
    grid-column: 1/2;
}
/* Hello, I'm Lillie Perry! */
.picture-text h1 {
    text-align: center;
    font-size: xx-large;
    grid-column: 2/3;
    grid-row: 1/1;
    margin-bottom: 100px;
    margin-top: 170px;
    color: #4a634b;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Welcome to my personal website! */
.picture-text h2 {
    text-align: center;
    font-size: x-large;
    grid-column: 2/3;
    grid-row: 1/1;
    margin-top: 270px;
    color: #4a634b;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* Here you can learn a little... */
.picture-text p {
    text-align: center;
    font-size: 120%;
    color: #4a634b;
    grid-column: 2/3;
    grid-row: 1/1;
    margin-top: 350px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 2;
    margin-left: 125px;
    margin-right: 125px;
    font-weight: 1000;
}



/* FOOTER */
footer {
    background-color: #dfcbbd;
    font-size: larger;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #3a200e;
}

a {
    color: #000000;
}

.icon {
    height: 55px;
    width: 55px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 0px gray;
}

.icon:hover {
    opacity: .8;
    transform: scale(1.1);
    border-radius: 20px;
}

